/**
 *01.
 *
*/
svg{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
/**
 *02.坐标轴
 *坐标轴、刻度线
*/
.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text,.tips-text{
    font-size: 11px;
}

/**
 *03.折线
 *折线、圆点
*/
.line{
    fill: none;
    stroke-width:2px;
}
.linecircle{
    fill:#fff;
    stroke-width:2px;
}
/**
 *04.交互提示框
 *
*/
.tooltip{
    position: absolute;
    width: auto;
    height: auto;
    font-size: 14px;
    background-color: #000;
    line-height: 20px;
    color: #fff;
    border-radius: 5px;
    padding:7px 10px;
}
/**
 *05.legned
 *
*/
.legend{
    width: auto;
    height: auto;
    margin:5px auto;
    border:solid 1px red;
}