/**
 *01.
 *
*/
svg{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}
/**
 *02.坐标轴
 *坐标轴、刻度线
*/
.axis path,
.axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text,.tips-text{
    font-size: 11px;
}

/**
 *03.折线
 *折线、圆点
*/
.line{
    fill: none;
    stroke-width:2px;
}
.linecircle{
    fill:#fff;
}
/**
 *04.交互提示框
 *
*/
.tooltip{
    position: absolute;
    width: 120px;
    height: auto;
    font-size: 14px;
    text-align: center;
    border: solid 1px;
    background-color: #6F6F6F;
    color: #fff;
    border-radius: 5px;
}